<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a la aplicación web</h1>
    <p>Esta es la página de inicio.</p>
    <ul>
        {% for product in products %}
            <li><a href="{{ url_for('main.product_detail', product_id=product.id) }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('main.new_product') }}">Crear nuevo producto</a>
</body>
</html>